<!-- Footer start-->
<footer class="footer" id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top-bg row">
        <div class="col-lg-4 footer-box"><i class="icon icon-map-marker2"></i>
          <div class="footer-box-content">
            <h3>Head Office</h3>
            <p>13 Broad Gores Clarborough Retford DN22 9JR Nottinghamshire </p>
          </div>
        </div>
        <!-- Box 1 end-->
        <div class="col-lg-4 footer-box"><i class="icon icon-phone3"></i>
          <div class="footer-box-content">
            <h3>Call Us</h3>
            <p>+44 772 590 5424</p>
            <p>+44 789 443 2726</p>
          </div>
        </div>
        <!-- Box 2 end-->
        <div class="col-lg-4 footer-box"><i class="icon icon-envelope"></i>
          <div class="footer-box-content">
            <h3>Mail Us</h3>
            <p>admin@bestbuddies.company</p>
            <p>payroll@bestbuddies.company</p>
            <p>recruitment@bestbuddies.company</p>
          </div>
        </div>
        <!-- Box 3 end-->
      </div>
      <!-- Content row end-->
    </div>
    <!-- Container end-->
  </div>
  <!-- Footer top end-->
  <div class="footer-main bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 footer-widget footer-about">
          <div class="footer-logo">
            <a href="#"> <img src="/images/logo.png" alt="" /> </a>
          </div>
          <p>We are a awward winning multinational company. We believe in
            quality.</p>
          <div class="footer-social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <!-- Footer social end-->
        </div>
        <!-- About us end-->
        <div class="col-lg-4 col-md-12 footer-widget">
          <h3 class="widget-title">Useful Links</h3>
          <ul class="list-dash">
            <li><a href="/#about-us">About Us</a></li>
            <li><a href="/#ts-services">Financial Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Recruitment Services</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12W footer-widget">
          <h3 class="widget-title">Apply For a job</h3>
          <div class="newsletter-introtext">If you wold like to apply for a job, kindly fill the form below. and attach your cv</div>
          <form class="newsletter-form" id="newsletter-form" action="#" method="post">
            <div class="form-group">
              <input class="form-control form-control-lg" id="newsletter-form-email" type="email" name="email" placeholder="Email Address"
                autocomplete="off" />
              <button class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
      <!-- Content row end-->
    </div>
    <!-- Container end-->
  </div>
  <!-- Footer Main-->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="copyright-info"><span>Copyright © 2014 - {{year}} Bestbuddies. All Rights Reserved.</span></div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="footer-menu">
            <ul class="nav unstyled">
              <li><a href="#">About</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Investors</a></li>
              <li><a href="#">Legals</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Row end-->
    </div>
    <!-- Container end-->
  </div>
  <!-- Copyright end-->
</footer>
<!-- Footer end-->