<div class="site-top">
  <div class="topbar-transparent" id="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
          <ul class="top-info">
            <li><span class="info-icon"><i class="icon icon-phone3"></i></span>
              <div class="info-wrapper">
                <p class="info-title">+44 772 590 5424</p>
              </div>
            </li>
            <li><span class="info-icon"><i class="icon icon-envelope"></i></span>
              <div class="info-wrapper">
                <p class="info-title">admin@bestbuddies.company</p>
              </div>
            </li>
            <li class="last"><span class="info-icon"><i class="icon icon-map-marker2"></i></span>
              <div class="info-wrapper">
                <p class="info-title">13 Broad Gores Clarborough Retford</p>
              </div>
            </li>
          </ul>
          <!-- Ul end-->
        </div>
        <!--Top info end-->
        <div class="col-lg-3 col-md-3 col-sm-12 text-lg-right text-md-center">
          <ul class="top-social">
            <li>
              <a title="Facebook" href="#">
                <span class="social-icon"><i class="fa fa-facebook"></i></span>
              </a>
              <a title="Twitter" href="#">
                <span class="social-icon"><i class="fa fa-twitter"></i></span>
              </a>
              <a title="Linkdin" href="#">
                <span class="social-icon"><i class="fa fa-linkedin"></i></span>
              </a>
              <a title="Skype" href="#">
                <span class="social-icon"><i class="fa fa-instagram"></i></span>
              </a>
            </li>
            <!-- List End -->
          </ul>
          <!-- Top Social End -->
        </div>
        <!--Col end-->
      </div>
      <!--Content row end-->
    </div>
    <!--Container end-->
  </div>
  <!--Top bar end-->
  <header class="header-trans-leftbox" id="header">
    <div class="container">
      <div class="header-wrapper clearfix">
        <div class="site-nav-inner">
          <nav class="navbar navbar-expand-lg">
            <div class="navbar-brand navbar-header">
              <div class="logo">
                <a href="/#"><img src="/images/logo.png" alt="" /></a>
              </div>
              <!-- logo end-->
            </div>
            <!-- Navbar brand end-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                  class="icon icon-menu"></i></span></button>
            <!-- End of Navbar toggler-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/#about-us">About
                    Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/#ts-services">Financial Services</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="/services/recruitment">Recruitment<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/services/industrial">Industrial Sector</a></li>
                    <li><a href="/services/healthcare">Healthcare Proffectionals</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a href="/services/payroll">Payroll</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact-us">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/#faq-container">FAQ</a></li>
              </ul>
              <!--Nav ul end-->
            </div>
          </nav>
        </div>
        <!--Site nav inner end-->
      </div>
      <!-- Header wrapper end-->
    </div>
    <!--Container end-->
  </header>
  <!--Header end-->
</div>