<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Best | Buddies</title>
  <link rel="shortcut icon" href="/images/logo.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!-- Icon font -->
  <link rel="stylesheet" href="/css/icon-font.css">
  <!-- Animation -->
  <link rel="stylesheet" href="/css/animate.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <!-- Owl Theme -->
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <!-- Template styles-->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Responsive styles-->
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>

  <body>
    <div class="body-inner">
      {{> header}}
      {{{body}}}
      {{> footer}}
      <div class="back-to-top affix" id="back-to-top" data-spy="affix" data-offset-top="10">
        <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
      </div>
      <!-- End Back to Top-->
      <script type="text/javascript" src="/js/jquery.js"></script>
      <!-- Bootstrap jQuery-->
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <!-- Owl Carousel-->
      <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
      <!-- Counter-->
      <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
      <!-- Waypoints-->
      <script type="text/javascript" src="/js/waypoints.min.js"></script>
      <!-- Template custom-->
      <script type="text/javascript" src="/js/custom.js"></script>
    </div>
  </body>

</html>