<section class="main-container bg-pattern-1" id="faq-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="accordion-title">
          <h3 class="column-title">
            <span>Our FAQ</span>
            Frequently Asked Questions
          </h3>
        </div>
        <div class="gap-40"></div>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <p>What is full-service payroll?</p>
                </button>
              </h5>
            </div>
            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>Full-service payroll refers to a third party that undertakes all tasks associated with executing an effective payroll strategy.
                  This involves printing pays lips, paying and filing associated tax, processing payroll and more. The alternative is handling all
                  payroll tasks in-house, which is both time-consuming and expensive if you have to hire someone to
                  undertake this task.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  <p>Is outsourcing payroll a good idea?</p>
                </button>
              </h5>
            </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Outsourcing both your payroll and pension processes bring with it multiple benefits, including:
                </p>
                <ul class="ts-list">
                  <li>Being more cost-effective than hiring and upgrading in-house payroll processes.</li>
                  <li>Giving you additional time to spend on other aspects of your business.</li>
                  <li>Professional payroll outsourcing results in fewer mistakes than if business owners who aren’t proficient take on the task
                    themselves.</li>
                  <li>The use of secure software. And more.</li>
                </ul>
                If you are unsure whether to outsource your payroll and pension processes, please contact us at : <a
                  href="mailto:payroll@bestbuddies.company">payroll@bestbuddies.company</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  <p>Should you combine payroll and pension services?</p>
                </button>
              </h5>
            </div>
            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>A company pays into an employee’s pension pot as part of the payroll service; therefore, it makes sense to ask your outsourced
                  payroll provider to carry out pension services simultaneously. At Bestbuddies limited , our outsourced services include payroll and
                  pension administration.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- col end-->
      <div class="col-lg-4">
        <div class="help-box">
          <div class="help mrb-40">
            <h2>Need any help!</h2>
            <p>
              Got another question or want to discuss accounting and financial management? Drop us a line and we'll get back to you.
            </p><a class="btn btn-primary" href="#contact-us">Contact us</a>
          </div>
          <div class="quote-item quote-classic mrb-40"><span class="quote-text faq-quote-text">The Forexnic loan has been the most attractive loan
              products on the
              market, helping numerous</span>
            <div class="quote-item-footer quote-footer-classic">
              <img class="testimonial-thumb" src="/images/team/brian.jpg" alt="testimonial" />
              <div class="quote-item-info">
                <p class="quote-author">Brian Nyatoro</p><span class="quote-subtext">C.E.O - Bestbuddies</span>
              </div>
            </div>
          </div>
          <!-- Quote item end-->
        </div>
      </div>
      <!-- Col end-->
    </div>
    <!-- Row end-->
  </div>
</section>