<section class="ts-services bg-pattern-2" id="ts-services">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="section-title"><span>Financial Services</span>What We Do</h2>
      </div>
    </div>
    <!-- Title row end-->
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-fluid" src="/images/services/service1.jpg" alt="" />
          </div>
          <div class="ts-service-content">
            <span class="ts-service-icon">
              <i class="icon icon-pie-chart2"></i>
            </span>
            <h3 class="service-title">Book Keeping </h3>
            <p>At Bestbuddies, we work as bookkeepers working in the background
              posting transactions and reconciling your bank accounts. Send your
              invoices and receipts – we’ll take care of them. VAT returns
              prepared, reviewed with you and filed. We’ll let you know what to
              pay and when.</p>
            <p><a class="link-more" href="#contact-us">Know More
                <i class="icon icon-right-arrow2"></i></a></p>
          </div>
        </div>
        <!-- Service1 end-->
      </div>
      <!-- Col 1 end-->
      <div class="col-lg-4 col-md-12">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-fluid" src="/images/services/service2.jpg" alt="" />
          </div>
          <div class="ts-service-content">
            <span class="ts-service-icon">
              <i class="icon icon-tax"></i>
            </span>
            <h3 class="service-title">Accounting</h3>
            <p>As your accountant, we are on call to help when ever you need it.
              Monthly or quarterly reviews of your latest accounts and next 90
              profit day plans to keep you on track to achieve your profit
              goals. Taxes accrued and DLA’s covered. All your year-end accounts
              and returns taken care of.</p>
            <p><a class="link-more" href="#contact-us">Know More
                <i class="icon icon-right-arrow2"></i></a></p>
          </div>
        </div>
        <!-- Service2 end-->
      </div>
      <!-- Col 2 end-->
      <div class="col-lg-4 col-md-12">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-fluid" src="/images/services/service3.jpg" alt="" />
          </div>
          <div class="ts-service-content">
            <span class="ts-service-icon">
              <i class="icon icon-savings"></i>
            </span>
            <h3 class="service-title">Business Growth</h3>
            <p>Ultimately you are in business to make profit. Our job is to help
              you maximise your take home pay, to minimise the tax you pay and
              build your wealth. With cash waterfalling, profit first and
              working with our wealth management partner we work with you to
              maximise profit extraction.</p>
            <p><a class="link-more" href="#contact-us">Know More
                <i class="icon icon-right-arrow2"></i></a></p>
          </div>
        </div>
        <!-- Service3 end-->
      </div>
      <!-- Col 3 end-->
    </div>
    <!-- Content 1 row end-->
    <div class="gap-60"></div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-fluid" src="/images/services/service4.jpg" alt="" />
          </div>
          <div class="ts-service-content">
            <span class="ts-service-icon">
              <i class="icon icon-mutual-fund"></i>
            </span>
            <h3 class="service-title">Director Responsibilities</h3>
            <p>As a director, you are responsible for ‘Compliance Reporting’ –
              this means submitting an annual confirmation statement, annual
              accounts and tax returns to Companies House and HMRC. Yikes,
              sounds daunting right? Well, you can pass this over to us. We will
              take care of your reporting obligations:</p>
            <p><a class="link-more" href="#contact-us">Know More <i class="icon icon-right-arrow2"></i></a></p>
          </div>
        </div>
        <!-- Service4 end-->
      </div>
      <!-- Col 4 end-->
      <div class="col-lg-4 col-md-12">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-fluid" src="/images/services/service5.jpg" alt="" />
          </div>
          <div class="ts-service-content">
            <span class="ts-service-icon">
              <i class="icon icon-loan"></i>
            </span>
            <h3 class="service-title">Annual Accounts</h3>
            <p>Filing of Abbreviated annual accounts for Companies House and
              Full accounts for you, your shareholders and HMRC. Each year we
              will check the data held by Companies House with you and confirm
              or submit any changes to Companies House. We will answer any tax
              queries that HMRC have with your returns</p>
            <p><a class="link-more" href="#contact-us">Know More
                <i class="icon icon-right-arrow2"></i></a></p>
          </div>
        </div>
        <!-- Service5 end-->
      </div>
      <!-- Col 5 end-->
      <div class="col-lg-4 col-md-12">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-fluid" src="/images/services/service6.jpg" alt="" />
          </div>
          <div class="ts-service-content">
            <span class="ts-service-icon">
              <i class="icon icon-consult"></i>
            </span>
            <h3 class="service-title">Tax Consulting</h3>
            <p>We do egular reviews on Payroll and RTI (Real Time Information),
              VAT, Corporation tax and Income Tax on earnings – and let you know
              what you need to pay and when to keep you on the right side of
              HMRC and penalty free. Also working with you to help you keep the
              cash aside for when your taxes are due.</p>
            <p><a class="link-more" href="#contact-us">Know More
                <i class="icon icon-right-arrow2"></i></a></p>
          </div>
        </div>
        <!-- Service6 end-->
      </div>
      <!-- Col 6 end-->
    </div>
    <!-- Content Row 2 end-->
  </div>
  <!-- Container end-->
</section>