<section class="ts-features no-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 feature-box1" style="background-image: url(images/features/feature1.jpg);">
        <div class="ts-feature text-center">
          <div class="ts-feature-info"><i class="icon icon-consut2"></i>
            <h3 class="ts-feature-title">Our Values</h3>
            <p>Bestbuddies was created in 2014 as a business consultancy service
              company. At Bestbuddies we believe that, It all STARTS with the
              numbers in your business and ENDS with the numbers in your pocket!
              It is our job to help you find yours and build a business that is
              permanently profitable.
            </p>
          </div>
        </div>
        <!-- feature 1 end-->
      </div>
      <!-- Col end-->
      <div class="col-lg-4 feature-box2" style="background-image: url(images/features/feature2.jpg);">
        <div class="ts-feature text-center">
          <div class="ts-feature-info"><i class="icon icon-chart2"></i>
            <h3 class="ts-feature-title">Our Aims</h3>
            <p>
              We start with your vision, your goals – both business and
              personal. Once we understand what your long term goals are, we can
              start building a plan for profit. We take care of your entire
              finance function so you can spend your valuable time serving your
              clients and generating more profit confident that we are working
              with you to achieve your business and personal goals.
            </p>
          </div>
        </div>
        <!-- feature 2 end-->
      </div>
      <!-- Col end-->
      <div class="col-lg-4 feature-box3" style="background-image: url(images/features/feature3.jpg);">
        <div class="ts-feature text-center">
          <div class="ts-feature-info"><i class="icon icon-clock3"></i>
            <h3 class="ts-feature-title">Growth Opportunites</h3>
            <p>
              We help you look for opportunities to improve efficiencies,
              streamline processes and grow your business, putting the right
              people and processes in place for you. Our job is to make your
              life easier at least from an accounting point of view. Let us take
              care of your accounts so you can focus on what you do best.
            </p>
          </div>
        </div>
        <!-- feature 3 end-->
      </div>
      <!-- Col end-->
    </div>
    <!-- Row end-->
  </div>
  <!-- Container end-->
</section>