<section class="ts-team">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="section-title"><span>Our People</span>Best Team</h2>
      </div>
    </div>
    <!-- Title row end-->
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img class="img-fluid" alt="" src="/images/team/brian.jpg" />
          </div>
          <div class="ts-team-content">
            <h3 class="team-name">Brian Nyatoro</h3>
            <p class="team-designation">C.E.O</p>
          </div>
          <!-- Team content end-->
          <div class="team-social-icons"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a><a target="_blank" href="#"><i
                class="fa fa-twitter"></i></a>
            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
          <!-- social-icons-->
        </div>
        <!-- Team wrapper 1 end-->
      </div>
      <!-- Col end-->
      <div class="col-lg-3 col-md-12">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img class="img-fluid" alt="" src="/images/team/tatenda.jpg" />
          </div>
          <div class="ts-team-content">
            <h3 class="team-name">Tatenda Nyatoro</h3>
            <p class="team-designation">Recruitment and Staffing Operations Consultant</p>
          </div>
          <!-- Team content end-->
          <div class="team-social-icons"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a><a target="_blank" href="#"><i
                class="fa fa-twitter"></i></a>
            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
          <!-- social-icons-->
        </div>
        <!-- Team wrapper 1 end-->
      </div>
      <!-- Col end-->
      <div class="col-lg-3 col-md-12">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img class="img-fluid" alt="" src="/images/team/team3.jpg" />
          </div>
          <div class="ts-team-content">
            <h3 class="team-name">Craig Robinson</h3>
            <p class="team-designation">Senior Project Manager</p>
          </div>
          <!-- Team content end-->
          <div class="team-social-icons"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a><a target="_blank" href="#"><i
                class="fa fa-twitter"></i></a>
            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
          <!-- social-icons-->
        </div>
        <!-- Team wrapper 1 end-->
      </div>
      <!-- Col end-->
      <div class="col-lg-3 col-md-12">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img class="img-fluid" alt="" src="/images/team/team4.jpg" />
          </div>
          <div class="ts-team-content">
            <h3 class="team-name">Andrew Robinson</h3>
            <p class="team-designation">Senior Project Manager</p>
          </div>
          <!-- Team content end-->
          <div class="team-social-icons"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a><a target="_blank" href="#"><i
                class="fa fa-twitter"></i></a>
            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
          <!-- social-icons-->
        </div>
        <!-- Team wrapper 1 end-->
      </div>
      <!-- Col end-->
    </div>
    <!-- Content row end-->
  </div>
  <!-- Container end-->
</section>