<section class="ts-featured-cases" id="ts-featured">
  <div class="container">
    <div class="section-title-vertical">
      <h2 class="section-title">Recruitment</h2>
    </div>
    <!-- Title row end-->
    <div class="row">
      <div class="owl-carousel owl-theme featured-cases-slide" id="featured-cases-slide">
        <div class="item">
          <div class="featured-projects-content">
            <div class="featured-projects-text float-left">
              <h2 class="column-title"><span>Recruitment</span>Recruitment
                Services</h2>
              <p class="intro-desc">
                Whether you’re looking for the ultimate dream job, or just a new
                challenge,we take your career as serious as our own. We
                understand that you want to find the right role for you based on
                your personal circumstance, that is why we aim to make your
                registration quick, easy and effective. We will try to find you
                work quickly that matches your needs. We offer a range of
                positions either on a temporary or permanent basis and our
                consultants are genuinely nice people!
              </p>
              <p><a class="btn btn-primary" href="/services/recruitment">Read More</a></p>
            </div>
            <div class="features-slider-img float-right">
              <img class="img-fluid" src="/images/slider-small/featured-slider1.jpg" alt="" />
            </div>
          </div>
        </div>
        <!-- Item 1 end-->
        <div class="item">
          <div class="featured-projects-content">
            <div class="featured-projects-text pull-left">
              <h2 class="column-title"><span>Cleaning Services</span>Commercial
                Cleaning</h2>
              <p class="intro-desc">
                We offer a range of commercial cleaning services to suit your
                needs. We follow a screening process so you can rest assure your
                cleaner will be fully trained, experienced, reference checked,
                interviewed and tested. Offering experience and attention to
                detail. Flexibility to suit any needs.
              </p>
              <p><a class="btn btn-primary" href="/services/cleaning">Read More</a></p>
            </div>
            <div class="features-slider-img pull-right">
              <img src="/images/slider-small/featured-slider2.jpg" alt="" />
            </div>
          </div>
        </div>
        <!-- Item 2 end-->
        <div class="item">
          <div class="featured-projects-content">
            <div class="featured-projects-text float-left">
              <h2 class="column-title"><span>Healthcare</span>Healthcare Professionals</h2>
              <p class="intro-desc">
                Bestbuddies Healthcare diversion finds talent for a range of
                healthcare jobs covering a broad spectrum of skills, including
                Nursing, Healthcare assistants and Locum Doctors. We have an
                excellent reputation and presence in our local healthcare
                market, and our business relationships are built to last. We are
                confident in our ability to support our evolving healthcare
                sector. Naturally, we aim to match talent to roles, but we also
                aim to work with business leaders to help attract and retain
                talent
              </p>
              <p><a class="btn btn-primary" href="/services/healthcare">Read More</a></p>
            </div>
            <div class="features-slider-img float-right">
              <img class="img-fluid" src="/images/slider-small/featured-slider3.jpg" alt="" />
            </div>
          </div>
        </div>
        <!-- Item 3 end-->
        <div class="item">
          <div class="featured-projects-content">
            <div class="featured-projects-text float-left">
              <h2 class="column-title"><span>HGV Drivers </span>The Industrial Sector</h2>
              <p class="intro-desc">
                Bestbuddies Recruitment is renowned for innovative solutions and
                understanding of the industrial sector. Servicing a range of
                industries from manufacturing, construction, warehousing plus
                many more in and around the United Kingdom since 2014 – bringing
                a wealth of experience with us.
              </p>
              <p><a class="btn btn-primary" href="/services/industrial">Read More</a></p>
            </div>
            <div class="features-slider-img float-right">
              <img class="img-fluid" src="/images/slider-small/featured-slider3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- Featured Projects slider end-->
    </div>
    <!-- Content row end-->
  </div>
  <!-- Container end-->
</section>