<section class="ts-facts-area solid-bg no-padding" id="ts-facts-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="intro-video">
          <img class="img-fluid" src="/images/intro-video.jpg" alt="" />
        </div>
        <!-- Intro video end-->
      </div>
      <!-- Col end-->
      <div class="col-lg-6 col-md-12 ts-padding text-lg-left text-center">
        <h2 class="column-title">8 Years of Experience</h2>
        <p class="intro-desc">We are a awward winning multinational company. We believe in quality and standard worldwide.</p>
        <div class="gap-20"></div>
        <div class="row facts-wrapper text-center">
          <div class="col-md-6">
            <div class="ts-facts"><span class="facts-icon"><i class="icon icon-chart2"></i></span>
              <div class="ts-facts-content">
                <h4 class="ts-facts-num"><span class="counterUp">85</span></h4>
                <p class="facts-desc">Business Growth %</p>
              </div>
            </div>
            <!-- Facts end-->
          </div>
          <!-- Col 1 end-->
          <div class="col-md-6">
            <div class="ts-facts"><span class="facts-icon"><i class="icon icon-invest"></i></span>
              <div class="ts-facts-content">
                <h4 class="ts-facts-num"><span class="counterUp">360</span>+</h4>
                <p class="facts-desc">Accounting Projects</p>
              </div>
            </div>
            <!-- Facts end-->
          </div>
          <!-- Col 1 end-->
        </div>
        <!--Row End -->
        <div class="gap-30"></div>
        <div class="row facts-wrapper text-center">
          <div class="col-md-6">
            <div class="ts-facts facts-col"><span class="facts-icon"><i class="icon icon-money-1"></i></span>
              <div class="ts-facts-content">
                <h4 class="ts-facts-num"><span class="counterUp">50</span></h4>
                <p class="facts-desc">Current Clients</p>
              </div>
            </div>
            <!-- Facts end-->
          </div>
          <!-- Col 1 end-->
          <div class="col-md-6">
            <div class="ts-facts"><span class="facts-icon"><i class="icon icon-deal"></i></span>
              <div class="ts-facts-content">
                <h4 class="ts-facts-num"><span class="counterUp">300</span>+</h4>
                <p class="facts-desc">Recruitments</p>
              </div>
            </div>
            <!-- Facts end-->
          </div>
          <!-- Col 1 end-->
        </div>
        <!-- Row End -->
      </div>
      <!-- Content Row 2 end-->
    </div>
    <!-- Col end-->
  </div>
  <!-- Container end-->
</section>